---
layout: default
---

<div class="home">

  <!-- <h1 class="page-heading">Posts</h1> -->

  {% assign prev_post_year = '0000' %}
  <br>


  <table style="width: 100%; table-layout: fixed;">
    <colgroup>
      <col span="1" style="width: 70px">
      <col span="1">
    </colgroup>

    <!-- Put <thead>, <tbody>, and <tr>'s here! -->
    <tbody>
      {% for post in paginator.posts %}
      <tr>
        <!-- Add Year header -->
        {% assign curr_post_year = post.date | date: "%Y" %}

        {% if curr_post_year != prev_post_year %}
        <td>
          <a name='{{ post.date | date: "%Y" | slugify }}'></a>
          <h3 class="post-year">{{ post.date | date: "%Y" }}</h3>
        </td>
        <td></td>
        {% endif %}
        {% assign prev_post_year = curr_post_year %}
      </tr>

      <tr>
        <!-- Add post date -->
        <td class="post-meta" style="vertical-align: top;">{{ post.date | date: "%b %d" }}</td>

        <!-- post link -->
        <td>
          {% if post.type == 'work' %}
          {% assign external_url_text = post.external_url | split: '/' %}
          <a class="post-link" target="_blank" href="{{ post.external_url }}">{{ post.title }}</a> <small>({{
            external_url_text[2]
            }})</small>
          {% else %}
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>



  <!-- Add page numbers -->
  {% unless paginator.total_pages == 1 %}
  <section class="pagination">

    {% if paginator.page != 1 %}

    <a href="{{ paginator.previous_page_path }}"
      class="previous-page{% unless paginator.previous_page %} invisible{% endunless %}" style="text-decoration: none;">
      <!-- Previous -->
      <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 20 18" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="feather feather-arrow-left">
        <line x1="20" y1="12" x2="4" y2="12"></line>
        <polyline points="10 18 4 12 10 6"></polyline>
      </svg>
    </a>

    {% endif %}

    &nbsp; {{ paginator.page }}/{{ paginator.total_pages }} &nbsp;

    {% if paginator.page != paginator.total_pages %}

    <a href="{{ paginator.next_page_path }}" class="next-page{% unless paginator.next_page %} invisible{% endunless %}">
      <!-- Next -->
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="18" viewBox="0 0 24 18" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="feather feather-arrow-right">
        <line x1="4" y1="12" x2="20" y2="12"></line>
        <polyline points="14 6 20 12 14 18"></polyline>
      </svg>
    </a>

    {% endif %}

  </section>
  {% endunless %}

</div>

<div class="heatmap"></div>


<!-- heatmap visualization stuff -->
<script defer src="https://d3js.org/d3.v5.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.1.0/chroma.min.js"></script> -->
<script defer type="text/javascript" src="{{ " /js/heatmap.js" | prepend: site.baseurl }}"></script>