---
layout: default
---

<div class="home">

  <!-- <h1 class="page-heading">Posts</h1> -->

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}  &nbsp; {{ post.content | number_of_words }} words</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>

        <span class="post-meta">
          {% if  post.categories %}
            {% for tag in post.categories %}
              {{tag}},
            {% endfor %}
          {% endif %}
        </span>

      </li>
    {% endfor %}
  </ul>

{% unless paginator.total_pages == 1 %}
<section class="pagination">
  <a href="{{ paginator.previous_page_path }}" class="previous-page{% unless paginator.previous_page %} invisible{% endunless %}">Previous</a>
  &nbsp; {{ paginator.page }} of {{ paginator.total_pages }} &nbsp;
  <a href="{{ paginator.next_page_path }}" class="next-page{% unless paginator.next_page %} invisible{% endunless %}">   Next</a>
</section>
{% endunless %}

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
