/**
 * Heatmap
 * https://stackoverflow.com/a/25978286/2650427
 */
.d3-svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    vertical-align: top;
    overflow: hidden;
    padding-right: 10;
}

.svg-content-responsive {
    display: inline-block;
    // position: absolute;
    // top: 10px;
    left: 0;
}


/**
 * Clock graphics
 * https://ianto-cannon.github.io/clock.html
 * Copied from the `common.css`
 */
.banner {
    width: 100%;
    height: 100px;
    display: block;
    overflow: hidden;
}