
{% include header %}

  <body>
    <!--[if lt IE 7]>
      <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
    <![endif]-->

    <header>
      <h1><a href="/" title="{{ site.title }}">{{ site.title }}</a></h1>
      <!-- <p class="description">{{ site.description }}</p> -->
      <nav>{% for link in site.links %}<a target="_top" href="{{ link.url }}">{{ link.name }}</a>{% endfor %}</nav>
    </header>

{% include section_footer %}